
*{
    margin:0;
    padding:0;
}
body{
padding:0;
margin:0;
font-family:  "遊ゴシック体","yugothic","遊ゴシック"," yu Gothic","メイリオ",
"ヒラギノ角ゴ Pro","Hiragino Kaku Gothick Pro",sans-serif;
background:#F3F3F3;
}
.swiper-pagination-bullet{
    margin-right:16px;
}
li{
    list-style:none;
    
}
a{
    text-decoration: none;
    color:#3E3E3E;
}
h2{
    font-size:30px;
}
header{
    height: 667px;
    background:transparent url(img/mv.png) center center/cover;

        .header-container{
            height: 68px;
            background:#fff;
         .inner{
             width: 90%;
             margin:0 auto;
             .header-menu-nav{
                 display: none;
             }
             .header-logo{
                 box-sizing: border-box;
               line-height: 68px;
               height: 68px;
                display: inline-block;
                position: absolute;
                top:5px;
                
             }
            
             .header-menu{
                // box-sizing: border-box;
                //  line-height: 68px;
                //  display: inline-block;
                //  float:right;
                //  position: relative;
                //  top:5px;
         }
        }
    }
                 .header-text{
                     width: 90%;
                     margin:0 auto;
                     padding-top:138px;
                     h1{
                         font-size: 24px;
                         letter-spacing: 0.02px;
                     }
                     p{
                         padding:40px 0;
                        letter-spacing: 0.04px;
                         font-size:16px;
                     }
                     .contact:hover{
                         background:#F18900;
                         cursor:pointer;
                     }
                     .contact{
                         text-align: center;
                         background:#FFAA3B;
                         height: 50px;
                         width: 232px;
                         border-radius: 10px;
                         box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                         margin:0 auto;
                         a{
                             line-height: 50px;
                             font-size:18px;
                             font-weight: 700;
                             color:#fff;
                         }
                     }
                 }
    
}
#news{
    margin-bottom:-30px;
    position: relative;
    top:-30px;
    background:#FFFFFF;
    width: 90%;
    margin:0 auto;
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    padding-bottom:40px;
    .inner{
        .news-title{
            text-align: center;
            padding:40px 0;
        }
        .news-container{
            padding-bottom:40px;
            border-top:1px solid #CECDCD;
            .news-item{
                border-bottom:1px solid #CECDCD; 
                .news-wrapper{
                    display: table;
                    margin:0 auto;
                    width: 90%;
                    padding:13px 0 16px 0;
                .news-meta{
                    display: table-cell;
                    width: 90%;
                    .news-time{
                        display: inline;
                       font-size:14px;
                       padding-right: 20px;
                    }
                    .news-btn{
                        display:inline;
                      font-size: 12px;
                      border:2px solid #3B69FF;
                       border-radius: 50px;
                      a{
                          padding:4px 20px;
                      }
                    }
                    .news-text{
                        padding-top:13px;
                       font-size:14px;                         
                    }
                }
                .arrow{
                    display: table-cell;
                    width: 10%;
                    height: 50%;
                    position: absolute;
                    img{
                        position: relative;
                        top:30px;
                        left:10px;
                    }
                }
                
            }
        }
    }
            .news-more{
                text-align: center;
                width: 90%;
                margin:0 auto;
                border:1px solid #707070;
                height: 54px;
                a{
                line-height: 54px;
                font-weight: 700;
                 font-size:18px;
                 letter-spacing: 3.6px;
                }
            }
    }
}
.container{
    height: 1000px;
}
#service{
    margin-top:30px;
    background:#3E3E3E;
    height: 375px;
    .service-title{
        text-align: center;
        padding:40px 0;
        color:#fff;
    }
    .inner{
        width: 90%;
        margin:0 auto;
        background: #FFFFFF;
        box-shadow: 0 5px 12px rgba(0,0,0,0.2);
        padding:40px 0;
        .service-wrapper{
            width: 90%;
            margin: 0 auto;
          .service-container{
              .service-item:nth-child(2n){
                padding:65px 0;
              }
              .service-item{
                  .service-icon{
                     width: 60px;
                     margin:0 auto;
                      img{
                       text-align: center;
                      }
                  }
                  h3{
                      padding:24px 0; 
                      text-align: center;
                      font-size:18px;
                      font-weight: 700;
                      letter-spacing: 3.6px;
                  }
                  p{
                      font-size: 14px;
                  }
              }
          }
        }
    }
}
#results{
    padding-bottom:40px;
    background:#3E3E3E;
    .results-title{
        text-align: center;
       color:#fff;
       padding:40px;
    }
    .swiper-container{
        padding-bottom:40px;
        // width: 90%;
        // margin:0 auto;
       .swiper-wrapper{
           display: relative;
           left:20px;
           display: flex;
           .swiper-slide{
               width: 276px;
               padding-right:25px;
               img{
                width: 276px;
               }
               .results-contents{
                width: 276px;
                   background:#fff;
                   .results-text{
                       width: 90%;
                       margin:0 auto;
                       padding:12px 0;
                     h4{
                       font-size:15px;
                     }
                     p{
                         padding-top:12px;
                          font-size:12px;
                     }
                   }
               }
           }
       }
    }
    .view{
        
        width: 90%;
        margin:0 auto;
        height: 54px;
        border:1px solid #fff;
        text-align: center;
        a{
            line-height: 54px;
            color:#fff;
            font-weight: 700;
            font-size: 18px;
        }
    }
}
.swiper-pagination{
    text-align: center;
    padding-top:40px;
}
#price{
    padding-bottom:60px;
    .inner{
        width: 90%;
        margin:0 auto;
        .price-title{
            text-align: center;
            padding:40px 0 0 0;
        }
      .price-table{
          width: 100%;
          margin:0 auto;
          background: #FFFFFF;
          border-collapse: collapse;
          tr{
              height: 60px;
              th{
                  font-size:18px;
                  color:#fff;
                  background:#3E3E3E;
                }
           .row2{
               border-top:solid 1px #fff;
               border-bottom:solid 1px #fff;
           }
                td{
                   font-weight: 700;
                   padding-left:20px;
                    border:1px solid #707070;
                font-size:18px;
              }
          }
      }
      p{
          font-size:12px;
          padding-top:14px;
      }
    }
}
#comments{
    position: relative;
    z-index:2;
    box-sizing: 0 0 10px rgba(0,0,0,0.2);
    width: 90%;
    margin:0 auto;
    background: #fff;
    .inner{
        width: 90%;
        margin:0 auto;
        .comments-title{
            // text-align: center;
            padding:40px 0;
        }
        .comments-container{
            padding-bottom:10px;
            width: 90%;
            margin:0 auto;
            .comments-item{
                padding-bottom:30px;
                display: flex;
                .people{
                    width: 20%;
                    img{
                        width: 56px;
                    }
                }
                .comments-text{
                    width: 80%;
                    box-sizing: border-box;
                    padding-left:20px;

                }
            }
        }
    }
}
.comments-img{
    display: none;
}
.black-back{
    margin-bottom:-465px;
    background: #3E3E3E;
    height: 530px;
    position: relative;
    top:-450px;
    z-index:1;
}
#faqs{
    padding-bottom:40px;
    background:transparent url(img/sunyu-kim-1053375-unsplash.png) center center/cover;
    .inner{
        width: 90%;
        margin:0 auto;
        .faqs-title{
            text-align: center;
            padding:40px 0;
        }
        .faqs-item{
            margin-bottom:30px;
            padding-bottom:20px;
         background:#fff;
         border-radius: 7px;
         .faqs-content{
           width: 90%;
           margin: 0 auto;
           padding-top:22px;
        //    padding-bottom:18px;
             .q{
                 background:#3B69FF;
                 height: 26px;
                 width: 26px;
                 border-radius: 50%;
                 display: inline-block;
                p{ 
                    text-align: center;
                    font-weight: 700;
                  color:#fff;
                }
             }
             .question{
                display: inline-block;
                padding-left:13px;
                p{
                    font-weight: 700;
                }
             }
             .svg{
                 float:right;
                display: inline-block;
                padding-right:10px;
             }
         }
         .answer{
             display: none;
             box-sizing: border-box;
             width: 90%;
             margin:0 auto;
             margin-top:20px;
             padding:18px 14px;
           background: rgba(82, 96, 139, 0.2);
           border-radius: 7px;
           font-size:16px;
         }
        }
    }
}
#access{
    background: #3E3E3E;
    padding-bottom:40px;
    .inner{
        width: 90%;
        margin:0 auto;
        .access-title{
        padding:40px 0;
        color:#fff;
        }
        .access-container{
            padding-bottom:18px;
            p{
                color:#fff;
                font-size:12px;
            }
        }
        .access-map{
            max-height: 241px;
            width: 100%;
            img{
                width: 100%;
                height: 241px;
            }
        }
        .google-map{
            width: 100%;
            margin:0 auto;
            border:1px solid #fff;
            height: 54px;
            text-align: center;
            margin-top:30px;
            a{
                line-height: 54px;
                color:#fff;
                font-size:18px;
                letter-spacing: 1.8px;
                font-weight: 700;
            }
        }
    }
}
#contact{
    background: transparent url(img/alex-blajan-159378-unsplash.png) center center/cover;
    .inner{
        padding:40px 0;
        .contact-title-wrapper{
            border-radius: 12px 12px 0 0;
            width: 90%;
            margin:0 auto;
            padding:35px 0 0 0;
            text-align: center;
            background:transparent url(img/contact1.png) center center/cover;
            .contact-title{
                color:#fff;
                padding-bottom:10px;
            }
            p{
                margin:0 auto;
                width: 90%;
                color:#fff;
                font-size: 14px;
                padding-bottom:35px;
            }
        }
        form{
            width: 90%;
            margin:0 auto;
            background: #fff;
            padding-bottom:40px;
            border-radius: 0 0 12px 12px;
            .form-container{
                width: 90%;
                margin:0 auto;
                padding:40px 0;
                dl{
                    padding-bottom:40px;
                    dt{
                       font-size:16px;
                       padding-bottom:10px;
                       span{
                           margin-left:20px;
                           font-size:14px;
                           color:#fff;
                           background: #FF4646;
                           border-radius: 5px;
                           padding:2px 11px;
                       }
                    }
                    dd{
                        .gender{
                            display: flex;
                            justify-content: start;
                          .man {
                            width: 50%;
                          }
                          .weman{
                              width: 50%;
                          }
                            input[type=radio]{
                             display: none;
                            }
                            .label:focus,label:hover,label:active,input:checked + label {
                                    // color: #da3c41;
                                }
                                 label {
                                    font-size: 16px;
                                    line-height: 1;
                                    position: relative;
                                    display: block;
                                    overflow: hidden;
                                    padding: 1em 1em 1em 3em;
                                    cursor: pointer;
                                    -webkit-transition: all 0.15s ease;
                                            transition: all 0.15s ease;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    background: #ffffff;
                                }
                                 label:before {
                                    position: absolute;
                                    top: 1em;
                                    left: 1em;
                                    width: 12px;
                                    height: 12px;
                                    content: '';
                                    border: 1px solid #707070;
                                    border-radius: 50%;
                                }
                                 input:checked + label:before {
                                    background: #3b69ff;
                                    box-shadow: inset 0 0 0 2px #fff;
                                }
                                label:active:before{
                                    background:#D1D9F5;
                                    border:1px solid #3b69ff;
                                }
                                    label:hover:before{
                                        position: absolute;
                                        top: 1em;
                                        left: 1em;
                                        width: 12px;
                                        height: 12px;
                                        content: '';
                                        border: 1px solid #3b69ff;
                                        border-radius: 50%;
                                }
                                 input:disabled + label {
                                    cursor: not-allowed;
                                    color: rgba(0, 0, 0, 0.5);
                                    background: #efefef;
                                }
                                 input:disabled + label:hover {
                                    border-color: rgba(0, 0, 0, 0.1);
                                }
                                 input:disabled + label:before {
                                    border-color: #ffffff;
                                    background: #ffffff;
                                }
                      
                        }
                        select:hover{
                            box-shadow: 0px 0px 5px#3B69FF;
                        }
                        select:focus{
                            box-shadow: 0px 0px 5px#3B69FF;

                        }
                        select{
                            outline:none;
                        }
                       select{
                           height: 32px;
                           width: 100%;
                       }
                       input[type="text"]:hover{
                           border-bottom:1px solid #3B69FF;
                       }
                       input[type="text"]:focus{
                        border-bottom:1px solid #3B69FF;
                       
                       }
                       input[type="text"]{
                        outline:none;
                       }
                       input[type=text]{
                         height: 23px;
                         width: 100%;
                         border:none;
                         border-bottom:1px solid #3E3E3E;
                         font-size: 16px;
                       }
                    }
                }
                .mess{
                    p{
                        padding-bottom:10px;
                    }
                    textarea{
                        outline:none;
                    }
                    textarea:focus{
                        border:1px solid #3B69FF;
               
                    }
                    textarea:hover{
                      border:1px solid #3B69FF;
                    }
                    textarea{
                        width: 100%;
                        height: 160px;
                    }
                }
                .info{
                    padding-top:20px;
                    input[type=checkbox]{
                       display: none;
                    }
                    label{
                      font-size:16px;
                      position: relative;
                    display: block;
                    overflow: hidden;
                    padding: 1em 1em 1em 3em;
                    }
                    label:before{
                     position: absolute;
                     width: 18px;
                     height: 18px;
                     content:"";
                     border:1px solid #707070;
                     top:1em;
                     left:1em;
                     background: #fff;
                    }
                    input:checked+label:before{
                        background:#fff;
                        content:"✔";
                        color:#3b69ff;
                        line-height: 18px;
                        text-align: center;
                    }
                }
            }
            .submit:disabled{
                background:#B2B2B2;
            }
            .submit:hover{
                background: #F18900;
                cursor:pointer;
            }
                    .submit{
                        margin:0 auto;
                        height: 50px;
                        width: 121px;
                        background: #FFAA3B;
                        border-radius: 10px;
                        text-align: center;
                        box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                        a{
                            line-height: 50px;
                            color:#fff;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
        }
    }
}
footer{
    padding-top:63px;
    background: #3E3E3E;
    padding-bottom:16px;
    .icon{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        i{
            display: block;
            color:#fff;
            opacity: 0.6;
        }
    }
    .infomation{
        padding:42px 0 55px 0;
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size:14px;
        color:#fff;
        li{
            height: 40px;
            text-align: center;
            width: 50%;
            display: block;
        }
    }
    .haniwaman-logo{
        text-align: center;
        h2{
            font-family: "Montserrat";
          font-size:34px;
          color:#E3E3E3;
        }
        p{
            font-family: "Montserrat";
            font-size:12px;
            color:#FFFFFF;
            opacity:0.6;
        }
        .totop{
          padding-top:26px;
          width: 90%;
          margin:0 auto;
          text-align: right;
          img{
             
          }
        }
    }
}
.access-map-top{
    display: none;
}

// デスクトップPC
@media screen and (min-width: 1180px){
    *{
        margin:0;
        padding:0;
    }
    body{
    padding:0;
    margin:0;
    font-family:  "遊ゴシック体","yugothic","遊ゴシック"," yu Gothic","メイリオ",
    "ヒラギノ角ゴ Pro","Hiragino Kaku Gothick Pro",sans-serif;
    background:#F3F3F3;
    }
    li{
        list-style:none;
        
    }
    a{
        text-decoration: none;
        color:#3E3E3E;
    }
    h2{
        font-size:36px;
    }
    header{
        margin-bottom:180px;
        height: 667px;
        background:transparent url(img/mv.png) center center/cover;
    
            .header-container{
                height: 80px;
                background:rgba(255, 255, 255, 0.2);
             .inner{
                 width: 1180px;
                 margin:0 auto;
                 .header-menu-nav{
                     display: block;
                     width: 100%;
                     
                     ul{
                       line-height: 80px;
                       text-align: center;
                     }
                     li{
                         font-family:"Montserrat";
                         font-weight: 16px;
                         display: inline;
                         padding-right: 40px;
                     }
                 }
                 .header-logo{
                     display: none;
                     box-sizing: border-box;
                   line-height: 68px;
                   height: 68px;
                    display: inline-block;
                    position: absolute;
                    top:5px;
                    img{
                        display: none;
                    }
                 }
                 .header-menu{
                     display: none;
                    // box-sizing: border-box;
                    //  line-height: 68px;
                    //  display: inline-block;
                    //  float:right;
                    //  position: relative;
                    //  top:5px;
             }
            }
        }
                     .header-text{
                         padding-left:700px;
                         width: 524px;
                         margin:0 auto;
                         padding-top:138px;
                         h1{
                             font-size: 30px;
                             letter-spacing: 0.02px;
                         }
                         p{
                             padding:40px 0;
                            letter-spacing: 0.04px;
                             font-size:18px;
                         }
                         .contact{
                             text-align: center;
                             background:#FFAA3B;
                             height: 50px;
                             width: 232px;
                             border-radius: 10px;
                             box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                             margin: 0;
                             a{
                                 line-height: 50px;
                                 font-size:18px;
                                 font-weight: 700;
                                 color:#fff;
                             }
                         }
                     }
        
    }
    #news{
        margin-bottom:0;
        position: static;
        // top:-30px;
        background:#FFFFFF;
        width: 1180px;
        margin:0 auto;
        box-shadow: 0 5px 12px rgba(0,0,0,0.2);
        padding-bottom:40px;
        .inner{
            .news-title{
                text-align: center;
                padding:60px 0;
            }
            .news-container{
                padding-bottom:40px;
                border-top:0;
                .news-item:hover{
                  background:#ECF0FF;
                }
                .news-item{
                    border-bottom:0; 
                    .news1{
                        border-top:1px solid #CECDCD;
                    }
                    .news-wrapper{
                        border-bottom:1px solid #CECDCD;
                        display: table;
                        margin:0 auto;
                        width: 90%;
                        padding:40px 0 ;
                    .news-meta{
                        vertical-align: middle;
                        display: table-cell;
                        
                        width: 95%;
                        .news-time{
                            padding-right: 60px;
                            display: inline-block;
                           font-size:18px;
                           vertical-align: middle;
                        }
                        .news-btn{
                            margin-right: 60px;
                            display:inline-block;
                          font-size: 14px;
                          border:2px solid #3b69ff;
                           border-radius: 50px;
                           vertical-align: middle;
                           background:#fff;

                          a{
                              padding:5px 34px;
                          }
                        }
                        .news-text{
                            vertical-align: middle;
                            width: 600px;
                            display: inline-block;
                            padding-top:0;
                           font-size:18px;  

                        }
                    }
                    .arrow{
                        vertical-align: middle;
                        display: table-cell;
                        width: 5%;
                        height: 0;
                        position: static;
                        img{
                            position: static;
                            top:20px;
                            left:0px;
                        }
                    }
                    
                }
            }
        }
                .news-more{
                    text-align: center;
                    width: 248px;
                    margin:0 auto;
                    border:1px solid #707070;
                    height: 64px;
                    a{
                    line-height: 60px;
                    font-weight: 700;
                     font-size:20px;
                     letter-spacing: 3.6px;
                     font-family: "Montserrat";
                    }
                }
        }
    }
    .container{
        margin-top:130px;
        height: 650px;
    }
    #service{
        margin-top:30px;
        background:#3E3E3E;
        height: 375px;
        .service-title{
            text-align: center;
            padding:60px 0;
            color:#fff;

        }
        .inner{
            width: 960px;
            margin:0 auto;
            background: #FFFFFF;
            box-shadow: 0 5px 12px rgba(0,0,0,0.2);
            padding:48px 56px;
            .service-wrapper{
              
                width: 100%;
                margin: 0 auto;
              .service-container{
                  display:flex;
                  justify-content: space-between;
                  .service-item:nth-child(2n){
                    padding:0;
                  }
                  .service-item{
                      .service-icon{
                         width: 60px;
                         margin:0 auto;
                          img{
                           text-align: center;
                          }
                      }
                      h3{
                          padding:24px 0; 
                          text-align: center;
                          font-size:20px;
                          font-weight: 700;
                          letter-spacing: 3.6px;
                      }
                      p{
                          width: 231px;
                          font-size: 14px;
                      }
                  }
              }
            }
        }
    }
    #results{
        padding-bottom:40px;
        background:#3E3E3E;
        
        .results-title{
            width: 1180px;
            margin:0 auto;
            text-align: left;
           color:#fff;
           padding:60px;
        }
        .swiper-container{
            padding-bottom:40px;
            // width: 2000px;
            // width: 1180px;
            // margin:0 auto;
           .swiper-wrapper{
               display: absolute;
               left:1000px;
               display: flex;
               .swiper-slide{
                   width: 422px;
                   padding-right:40px;
                   img{
                    width: 422px;
                   }
                   .results-contents{
                    width: 422px;
                       background:#fff;
                       .results-text{
                           width: 90%;
                           margin:0 auto;
                           padding:20px 0;
                         h4{
                           font-size:20px;
                         }
                         p{
                             padding-top:12px;
                              font-size:16px;
                         }
                       }
                   }
               }
           }
        }
        .inner{
            width: 1180px;
            margin:0 auto;
        }
        .view{
            
            width: 300px;
            margin:0;
            height: 64px;
            border:1px solid #fff;
            text-align: center;
            a{
                line-height: 64px;
                color:#fff;
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 4px
            }
        }
    }
    .swiper-pagination{
        text-align: left;
        padding-top:40px;
    }
    .swiper-pagination-bullet{
        margin-right:16px;
    }
    #price{
        padding-bottom:60px;
        .inner{
            width: 960px;
            margin:0 auto;
            .price-title{
                text-align: center;
                padding:60px 0  40px 0;
            }
          .price-table{
              width: 100%;
              margin:0 auto;
              background: #FFFFFF;
              border-collapse: collapse;
              tr{
                  height: 60px;
                  th{
                      width: 30%;
                      font-size:18px;
                      color:#fff;
                      background:#3E3E3E;
                    }
               .row2{
                   border-top:solid 1px #fff;
                   border-bottom:solid 1px #fff;
               }
                    td{
                        width: 70%;
                       font-weight: 700;
                       padding-left:20px;
                        border:1px solid #707070;
                    font-size:18px;
                  }
              }
          }
          p{
              font-size:12px;
              padding-top:14px;
          }
        }
    }
    .comments-inner{
        display: flex;
        width: 1180px;
        margin:0 auto;
    }
    .comments-img{
        display: block;
        z-index:2;
        img{
         padding-top:110px;

        }
    }
    #comments{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        position: relative;
        z-index:2;
        box-sizing: 0 0 10px rgba(0,0,0,0.2);
        width: 670px;
        margin:0;
        background: #fff;
        .inner{
            width: 90%;
            margin:0 auto;
            .comments-title{
                // text-align: center;
                padding:80px 0;
                font-size: 36px;
            }
            .comments-container{
                padding-bottom:10px;
                width: 90%;
                margin:0 auto;
                .comments-item{
                    padding-bottom:80px;
                    display: flex;
                    .people{
                        width: 20%;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .comments-text{
                        width: 80%;
                        box-sizing: border-box;
                        padding-left:20px;
                        font-size:16px;
                    }
                }
            }
        }
    }
    .black-back{
        width: 960px;
        margin-bottom:-465px;
        background: #3E3E3E;
        height: 616px;
        position: relative;
        top:-465px;
        z-index:1;
    }
    #faqs{
        padding-bottom:80px;
        background:transparent url(img/sunyu-kim-1053375-unsplash.png) center center/cover;
        .inner{
            width: 1180px;
            margin:0 auto;
            .faqs-title{
                text-align: center;
                padding:80px 0;
            }
            .faqs-item{
                position: relative;
                left:300px;
                width: 616px;
                margin:0 auto;
                margin-bottom:30px;
                padding-bottom:20px;
             background:#fff;
             border-radius: 7px;
             .faqs-content{
               width: 90%;
               margin: 0 auto;
               padding-top:22px;
            //    padding-bottom:18px;
                 .q{
                     background:#3B69FF;
                     height: 26px;
                     width: 26px;
                     border-radius: 50%;
                     display: inline-block;
                    p{ 
                        text-align: center;
                        font-weight: 700;
                      color:#fff;
                    }
                 }
                 .question{
                    display: inline-block;
                    padding-left:13px;
                    p{
                        font-weight: 700;
                    }
                 }
                 .svg{
                     float:right;
                    display: inline-block;
                    padding-right:10px;
                 }
             }
             .answer{
                 display: none;
                 box-sizing: border-box;
                 width: 90%;
                 margin:0 auto;
                 margin-top:20px;
                 padding:18px 14px;
               background: rgba(82, 96, 139, 0.2);
               border-radius: 7px;
               font-size:16px;
             }
            }
        }
    }
    .access-back{
        background:#3E3E3E;
        width: 980px;
        height: 515px;
    }
    .access-map-top{
        display: block;
        width: 720px;
        height: 515px;
        margin-top:130px;
        margin-left:130px;
        img{
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            width: 720px;
            height: 515px; 
        }
    }
    #access{
        margin-top:-500px;
        background:0;
        padding-bottom:130px;
        .inner{
            display: flex;
            width: 1180px;
            margin:0 auto;
            .access-title{
            padding:130px 0 40px 0;
            color:#fff;
            }
            .access-container{
                padding-bottom:18px;
                p{
                    color:#fff;
                    font-size:16px;
                }
            }
            .access-map{
             display: none;
                max-height: 515px;
                width: 720px;
                img{
                    width: 100%;
                    height: 241px;
                }
            }
            .google-map{
                width: 326px;
                height: 64px;
                margin:0;
                border:1px solid #fff;
                height: 54px;
                text-align: center;
                margin-top:30px;
                a{
                    line-height: 64px;
                    color:#fff;
                    font-size:20px;
                    letter-spacing: 1.8px;
                    font-weight: 700;
                }
            }
        }
    }
    #contact{
        background: transparent url(img/alex-blajan-159378-unsplash.png) center center/cover;
        .inner{
            padding:80px 0;
            .contact-title-wrapper{
                width: 960px;
                margin:0 auto;
                padding:60px 10px 0 10px;
                text-align: center;
                background:transparent url(img/contact1.png) center center/cover;
                border-radius: 30px 30px 0 0;
                
                .contact-title{
                    color:#fff;
                    padding-bottom:10px;
                    font-size:36px;
                }
                p{
                    margin:0 auto;
                    width: 960px;
                    color:#fff;
                    font-size: 16px;
                    padding-bottom:60px;
                }
            }
            form{
                width: 960px;
                margin:0 auto;
                background: #fff;
                padding-bottom:60px;
                border-radius: 0 0 12px 12px;
                .form-container{
                    width: 80%;
                    margin:0 auto;
                    padding:60px 0;
                    dl{
                        display: flex;
                        padding-bottom:40px;
                        .gender1{
                            line-height: 56px;
                        }
                        dt{
                            width: 30%;
                           font-size:22px;
                           padding-bottom:10px;
                           span{
                               float:right;
                               margin-right:100px;
                               margin-left:0;
                               font-size:16px;
                               color:#fff;
                               background: #FF4646;
                               border-radius: 5px;
                               padding:2px 11px;
                           }
                        }
                        dd{
                        width: 70%;
                        .gender{
                            display: flex;
                            justify-content: start;
                            font-size:22px;
                          .man {
                            width: 50%;
                          }
                          .weman{
                              width: 50%;
                          }
                            input[type=radio]{
                             display: none;
                            }
                            .label:focus,label:hover,label:active,input:checked + label {
                                    // color: #da3c41;
                                }
                                 label {
                                    font-size: 22px;
                                    line-height: 1;
                                    position: relative;
                                    display: block;
                                    overflow: hidden;
                                    padding: 1em 1em 1em 2em;
                                    cursor: pointer;
                                    -webkit-transition: all 0.15s ease;
                                            transition: all 0.15s ease;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    background: #ffffff;
                                }
                                 label:before {
                                    position: absolute;
                                    top: 1em;
                                    left: 1em;
                                    width: 12px;
                                    height: 12px;
                                    content: '';
                                    border: 1px solid #707070;
                                    border-radius: 50%;
                                }
                                 input:checked + label:before {
                                    background: #3b69ff;
                                    box-shadow: inset 0 0 0 2px #fff;
                                }
                                label:active:before{
                                    background:#D1D9F5;
                                    border:1px solid #3b69ff;
                                }
                                    label:hover:before{
                                        position: absolute;
                                        top: 1em;
                                        left: 1em;
                                        width: 12px;
                                        height: 12px;
                                        content: '';
                                        border: 1px solid #3b69ff;
                                        border-radius: 50%;
                                }
                                 input:disabled + label {
                                    cursor: not-allowed;
                                    color: rgba(0, 0, 0, 0.5);
                                    background: #efefef;
                                }
                                 input:disabled + label:hover {
                                    border-color: rgba(0, 0, 0, 0.1);
                                }
                                 input:disabled + label:before {
                                    border-color: #ffffff;
                                    background: #ffffff;
                                }
                      
                        }
                           select{
                               font-size:18px;
                               height: 32px;
                               width: 100%;
                           }
                         
                           input[type=text]{
                             height: 32px;
                             width: 100%;
                             border:none;
                             border-bottom:1px solid #3E3E3E;
                             font-size: 22px;
                           }
                        }
                    }
                    .mess{
                        p{
                            padding-bottom:10px;
                            font-size:22px;
                        }
                        textarea{
                            width: 100%;
                            height: 213px;
                        }
                    }
                    .info{
                        padding-top:20px;
                        font-size: 18px;
                    }
                }
                .submit-inner{
                    width: 80%;
                    margin:0  auto;
                }
                        .submit{
                            margin:0;
                            height: 50px;
                            width: 174px;
                            background: #FFAA3B;
                            border-radius: 10px;
                            text-align: center;
                            box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                            a{
                                line-height: 50px;
                                color:#fff;
                                font-size: 18px;
                            }
                        }
            }
        }
    }
    footer{
        padding-top:130px;
        background: #3E3E3E;
        padding-bottom:100px;
        .inner{
            width: 1180px;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            .footer-left{

            }
            .footer-right{

            }
        }
        .icon{
            display: flex;
            justify-content: start;
            width: 100%;
            i{
                display: block;
                color:#fff;
                opacity: 0.6;
                padding-right:20px;
            }
        }
        .infomation{
            padding:42px 0 55px 0;
            width: 100%;
            margin:0 auto;
            display: static;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size:18px;
            color:#fff;
            li{
                height: 40px;
                text-align: left;
                width: 100%;
                display: block;
            }
        }
        .haniwaman-logo{
            padding-top:30px;
            text-align: center;
            h2{
                font-family: "Montserrat";
              font-size:44px;
              color:#E3E3E3;
            }
            p{
                font-family: "Montserrat";
                font-size:12px;
                color:#FFFFFF;
                opacity:0.6;
            }
            .totop{
              padding-top:82px;
              width: 90%;
              margin:0 auto;
              text-align: right;
              img{
                 
              }
            }
        }
    }
}
